<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CryptSharp" version="1.2.0.1" targetFramework="net45" />
  <package id="DBreeze" version="1.64.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="SharpGLCore" version="2.3.0.1" targetFramework="net45" />
  <package id="SharpGLforWPF" version="2.3.0.1" targetFramework="net45" />
</packages>